@media (max-width:992px) {
    
    .why-us
    {
        display: grid;
        grid-template-columns: 1fr;
        padding: 5vw;
        gap: 1vw;
        background-color: rgb(213, 229, 230);
        margin-bottom: 10vw;
    }

    .about-us
{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2vw;
    padding: 8vw;

}

.img-about
{
    width: 100%;
    height: 100%;
    margin-bottom: 100px;
}

}